/* Contenedor principal de la pagina menu */
.menu__main {
  max-width: 900px;
  margin: 0 auto;
}

/*Contenedor de titulo*/
.menu__header {
  margin: 32px;
  color: #fff;
}

.menu__header__titulo {
  text-align: center;
}

/* Contenedor de productos */
.menu__productos {
  display: flex; 
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}